body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subir {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#subir:hover {
    background-color: #2980b9;
}

#text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
div {
    padding: 100px;
}
